chromedriver.exe
product_websites.txt
Notes.ipynb
gpuscraper-vscode.code-workspace
all
productreviews_all-back1.csv
productreviews_all.csv
cleaned-merged-final.csv
cleaned-merged-.csv
cleaned-merged-2.csv
cleaned-merged-final.csv
diamonds.csv
featx.py
gpuscrap-Copy1.ipynb
__pycache__
.ipynb_checkpoints
product_websites.txt
gpuscraper_other.py